extends ../layouts/default

include ../offers
include ../weeks-product
include ../about
include ../reviews
include ../contacts

block vars
  -pageSettings.title = 'Главная'; 
    
block content    
  +offers
  +weeks-product
  +about
  +reviews
  +contacts
        
