include ../header
include ../page-footer

-const pageSettings = {}
-pageSettings.title = '';
-pageSettings.useSocialMetaTags = false;

-const jv0 = 'javascript:void(0)';

block vars

doctype html
html(lang='ru')
    include ../head

    body
      +header
      block content
      +page-footer
      script(src="../../static/js/open-close.js")