.content {
	min-width: 260px;
	@media @tablet-widths {
		min-width: 670px;
		margin: 0 50px;
	}

	@media @desktop-widths {
		max-width: 1050px;
		margin: 0 auto;
		padding: 0 50px;
	}
}
.flexed {
	display: flex;
	flex-direction: column;
}
.hover(@_opacity) {
	&:hover {
		opacity: @_opacity;
	}
}
.active(@_opacity) {
	&:active {
		opacity: @_opacity;
	}
}