.offers {
	position: relative;
	height: 440px;
	min-width: 320px;
	padding-top: 67px;
	font-family: VerdanaBold;
	background: url(../static/img/hero-mobile@1x.jpg) no-repeat 50% 0;
	background-color: #f9f9f9;
}

.offers__wrap {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}

.offers__title {
	display: flex;
	flex-direction: column;
	align-items: center;
	&-text {
		width: 240px;
		text-align: center;
		line-height: 30px;
	}
}

.offers__list {
	display: flex;
	flex-direction: column;
	min-width: 320px;
	margin: 0;
	list-style-type: none;
	padding: 0;
	a {
		text-decoration: none;
		color: #fff;
		align-items: center;
	}
}

.offers__item {
	&-interier {
		display: flex;
		justify-content: space-between;
		padding: 20.5px 36px 20.5px 30px;
		background-color: #63d1bb;
		svg path {
			fill: #3bb09d;
		}
	}
	&-toys {
		display: flex;
		justify-content: space-between;
		padding: 22px 27px 22px 30px;
		background-color: #56c3b2;
		svg path {
			fill: #35a999;
		}
	}
	&-text {
		width: 100px;
		line-height: 24px;
	}
}
.zigzag {
	display: none;
}

@media @tablet-widths {
	.offers {
		height: 616px;
		padding-top: 130px;
		background: url(../static/img/hero-desktop.jpg) no-repeat 50% 0;
		background-color: #f9f9f9;
	}
	
	.offers__title-text {
		width: 500px;
		font-size: 40px;
		line-height: 50px;
	}

	.offers__list {
		flex-direction: row;
		flex-wrap: wrap;
		width: 100%;
		max-width: 810px;
		margin: 0 auto;
		margin-bottom: -7px;
	}
	.offers__item {
		width: 50%;
		&-interier {
			padding-bottom: 25px;
			padding-left: 36px;
			transition: all .2s ease-out;
			&:hover {
				margin-top: -5px;
				padding-bottom: 30px;
				background-color: #58d5bc;
			}
			&:hover svg path {
				fill: #28a591;
			}
			&:active span,
			&:active svg path {
				opacity: .3;
			}
		}
		&-toys {
			padding-right: 34px;
			padding-bottom: 26.5px;
			padding-left: 36px;
			transition: all .2s ease-out;
			&:hover {
				margin-top: -5px;
				padding-bottom: 31.5px;
				background-color: #45c1ae;
			}
			&:hover svg path {
				fill: #229f8d;
			}
			&:active span,
			&:active svg path {
				opacity: .3;
			}
		}
	}
	.zigzag {
		display: block;
		margin-top: -15px;
		overflow: hidden;
	}
}

@media @desktop-widths {
	.offers {
		padding-top: 133px;
	}
	.offers__title-text {
		width: 625px;
		font-size: 50px;
		line-height: 57px;
	}
	.offers__list {
		max-width: 1150px;
	}
}