mixin about
  - var items = [{src:'#', text:'Экологически чистые материалы'},{src:'#', text:'Скандинавский стиль по российской цене'}, {src:'#', text:'Увеличивает лайки на фотографиях'},{src:'#', text:'Связано вручную с любовью и умилением'},{src:'#', text:'Поддержка отечественного производителя'},{src:'#', text:'Поставляется в подарочной упаковке'}];
  .about
    .content
      H2.about__title Коротко о нас:
      UL.about__list
        each rows in items
          LI.about__item
            IMG(src=rows.src)
            = rows.text