mixin contacts
  .contacts
    H2.contacts__title Контакты
    IMG(src='#' alt='')

    .contacts__mail
      SPAN e-mail:
      A(href='mailto:info@mimimishkashop.ru') info@mimimishkashop.ru

    .contacts__address
      SPAN адрес:
      P  г.Санкт-Петербург <BR>ул. Большая Конюшенная, <BR>д. 19/8, офис 101

    .contacts__map

    +btn('#','cont','Напишите нам')