mixin header
  - var menu = [{ref:'index.html', text:'', icon:'../static/img/logo-mobile.svg', itemName: ''}, {ref:'catalog.html', text:'Каталог товаров', icon:'', itemName:'header__menu-item-catalog'}, {ref:'form.html', text:'Вязание на заказ', icon:'', itemName:'header__menu-item-order'}, {ref:'search.html', text:'Поиск по сайту', icon:'../static/img/icon-search.svg', itemName:'header__menu-item-search'}, {ref:'buy.html', text:'Корзина: пока пуста', icon:'../static/img/icon-cart.svg', itemName:'header__menu-item-cart'}];
  - var menu_other = [{ref:'new-comes.html', text:'Новые поступления'}, {ref:'sell.html', text:'Распродажа'},{ref:'free-send.html',text:'Бесплатная доставка по России'}];
  HEADER.header()
    .content.header__wrap
      NAV.header__menu.header__menu--closed.header__menu--nojs
        A.header__menu-toggle(href="#") Открыть меню

        UL.header__menu-list.flexed
          each link, index in menu
            if index > 0 && index < 3
              LI
                A.header__menu-item(href = link.ref class = link.itemName)
                  SPAN.header__menu-item-text= link.text
            else if index > 2
              LI
                A.header__menu-item(href = link.ref class = link.itemName)
                  SPAN.header__menu-item-text
                    IMG.header__menu-item-icon(src = link.icon)= link.text
                     
            else
              LI
                A.header__menu-logo(href = link.ref)
                  PICTURE
                    SOURCE(media = "(min-width: 1200px)" srcset = "../static/img/logo-desktop.png")
                    SOURCE(media = "(min-width: 768px)" srcset = "../static/img/logo-tablet.png")
                    IMG(src = link.icon)
                    
                  

        UL.header__menu-other-list
          each link in menu_other
            LI
              A.header__menu-item-other(href = link.ref)= link.text
          
