mixin header
  - var menu = [{ref:'catalog.html', text:'Каталог товаров', icon:''}, {ref:'form.html', text:'Вязание на заказ', icon:''}, {ref:'search.html', text:'Поиск по сайту', icon:'../static/img/icon-search.svg'}, {ref:'buy.html', text:'Корзина: пока пуста', icon:'../static/img/icon-cart.svg'}];
  - var menu_other = [{ref:'new-comes.html', text:'Новые поступления'}, {ref:'sell.html', text:'Распродажа'},{ref:'free-send.html',text:'Бесплатная доставка по России'}];
  HEADER.header()
    .content.header__wrap
      DIV.header__logo
        A(href="index.html")
          IMG(src="../static/img/logo-mobile.svg" alt="mishka")   

      NAV.header__menu.header__menu--closed.header__menu--nojs
        A.header__menu-toggle(href="#") Открыть меню

        UL.header__menu-list.flexed
          each link, index in menu
            if index <= 1
              LI
                A.header__menu-item(href = link.ref)= link.text
            else 
              LI
                A.header__menu-item(href = link.ref)
                  IMG(src = link.icon)= link.text
                    
                  

        UL.header__menu-other-list
          each link in menu_other
            LI
              A.header__menu-item-other(href = link.ref)= link.text
          
