mixin order

  include btn

  -var it_type = [{id:'access',lab:'Аксессуар для интерьера'},{id:'toy',lab:'Детская игрушка'}];

  -var it_color = [{id:'white',lab:'Белый'},{id:'grey',lab:'Серый'},{id:'tiffany',lab:'&laquo;Тиффани&raquo;'},{id:'black',lab:'Черный'},{id:'pink',lab:'Розовый'},{id:'orange',lab:'Оранжевый'}];

  -var it_client = [{id:'surname',lab:'Фамилия'},{id:'name',lab:'Имя'},{id:'patron',lab:'Отчество'}];

  -var it_contacts = [{sp:'Тел',type:'tel',src:'#',phdr:'+7 XXX XX XX'},{sp:'E-mail',type:'email',src:'#',phdr:'Мы не будем спамить, честно!'}];

  FORM.order
    .content
      P.order__about Мы будем рады воплотить в жизнь ваши пожелания!<br>Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.

      .order__type
        SPAN Тип
        each item in it_type
          label(for=item.id)= item.lab
          input(type='radio', name='type', value= item.id, id= item.id)

      .order__color
        SPAN Цвет
        each item in it_color
          label(for=item.id)= item.lab
          input(type='checkbox', name='color', value= item.id , id= item.id)
      
      .order__client
        SPAN ФИО
        each item in it_client
          label(for=item.id)= item.lab
          input(type='text', id= item.id)

      .order__contacts
        each item in it_contacts
          SPAN= item.sp
          input(type= item.type placeholder= item.phdr)
          IMG(src= item.src)

      .order__addit
        SPAN Доп
        TEXTAREA(placeholder='Опишите все ваши пожелания к заказу')

      +btn({href:'#'}).order__btn
          | Отправить заказ

      SPAN.order__necess
        | Все поля являются обязательными