mixin order

  include btn

  -var it_type = [{id:'access',lab:'Аксессуар для интерьера'},{id:'toy',lab:'Детская игрушка'}];

  -var it_color = [{id:'white',lab:'Белый'},{id:'grey',lab:'Серый'},{id:'tiffany',lab:'&laquo;Тиффани&raquo;'},{id:'black',lab:'Черный'},{id:'pink',lab:'Розовый'},{id:'orange',lab:'Оранжевый'}];

  -var it_client = [{id:'surname',lab:'Фамилия'},{id:'name',lab:'Имя'},{id:'patron',lab:'Отчество'}];

  -var it_contacts = [{sp:'Тел',type:'tel',src:'#',phdr:'+7 XXX XX XX'},{sp:'E-mail',type:'email',src:'#',phdr:'Мы не будем спамить, честно!'}];

  FORM.order
    .content.order__wrap
      .order__about
        P.order__about-text 
          SPAN Мы будем рады воплотить в жизнь ваши пожелания!
          SPAN  Заполните простую форму заказа и мы свяжемся с вами, чтобы уточнить детали.
      .order__list
        .order__item.order__item-type
          SPAN.order__type-title Тип
          each item in it_type
            .order__item-type-turn
              input(type='radio', name='type', value= item.id, id= item.id)
              label(for=item.id)= item.lab

        .order__item.order__item-color
          SPAN.order__color-title Цвет
          each item in it_color
            .order__item-color-turn
              input(type='checkbox', name='color', value= item.id , id= item.id)
              label(for=item.id)!= item.lab
        
        .order__item.order__item-client
          SPAN.order__client-title ФИО
          each item in it_client
            .order__item-client-turn
              input(type='text', id= item.id)
              label(for=item.id)= item.lab

        .order__item.order__item-contacts
          each item in it_contacts
            SPAN= item.sp
            input(type= item.type placeholder= item.phdr)
            IMG(src= item.src)

        .order__item.order__item-addit
          SPAN.order__addit-title Доп
          TEXTAREA(placeholder='Опишите все ваши пожелания к заказу')

        +btn({href:'#'}).order__btn
            | Отправить заказ

        SPAN.order__necess
          | Все поля являются обязательными