mixin process

  include btn

  .process
    .content
      .process__title
        IMG(src='#')
        H3 Процесс производства
      IMG(src='' alt='Процесс производства')

      P.process__about
        | По просьбам наших любимых фоловеров мы сняли для вас подробное видео о том, как появляются наши товары.
        
      +btn({href:'#'}).process__btn
        | Сделать заказ