mixin reviews
  include btn
  .reviews
    H2.reviews__title Отзывы

    P.reviews__text Я молодая мама, но все равно фотографии не набирали и близко такого количества лайков, как у популярных инстамамочек. В отчаянии, я накупила аксессуаров и игрушек в Мишке и мои фотографии сразу стали более стильнее, а также набирают больше лайков!

    .reviews__author
      B.reviews__author-name Анастасия Красильникова
      SPAN.reviews__author-address @misssssiskras
      
    BUTTON.reviews__prev(type='button')
    BUTTON.reviews__next(type='button')
    +btn({href:'#'}).reviews__write
      | Написать