mixin weeks-product
  include btn
  - var values = [{name:'Цвет:', value:'&laquo;Тифани&raquo;/серый'}, {name:'Диаметр:', value:'25 см'}, {name:'Высота', value:'15 см'}];
  .weeks-product
    .content
      H2.weeks-product__title Вязаные корзинки
      span.weeks-product__mark Товар недели
      P.weeks-product__text Экологически чистая пряжа, ручная работа. Доступны в шести расцветках, и трех размерах
      TABLE.weeks-product__properties
        each row in values
          TR
            TD.weeks-product__name= row.name
            TD.weeks-product__value!= row.value
      IMG(src="../static/img/triple-set-mobile@1x.jpg" alt="Вязаные корзинки")
      .weeks-product__order
        SPAN.weeks-product__price Цена: 990 руб.
        +btn({href:'#'}).weeks-product__btn
          | Заказать